# Data Wrangling with Pandas

<img src="../images/python_pandas.jpg" alt="Python" style="width: 400px;"/>

# The Weather Dataset: Reading DataFrames from Files
***
The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. It records Temperature, Dew Point Temperature, Relative Humidity, Wind Speed, Visibility, Pressure, and Conditions.

<img src="../images/weather.jpg" alt="Weather" style="width: 200px;"/>

This data is available as a CSV file. We are going to use Pandas DataFrames and analyse this dataset.

In [3]:
# Read the data into a data frame
import pandas as pd
df = pd.read_csv("../data/weather_2012.csv") # 

print("Shape:", df.shape)
print("Index:", df.index)

Shape: (8784, 8)
Index: RangeIndex(start=0, stop=8784, step=1)

In [4]:
import numpy as np

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini - Challenge - 1
***
### Instructions
* Find all the unique Wind Speed values recorded in the dataset

In [5]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [9]:
unique_speedValues = df['Wind Spd (km/h)'].unique()
unique_speedValues

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini-Challenge - 2
***
### Instructions
* Find the number of times when the weather was exactly 'Clear'

In [15]:
times_Clear = len(df.loc[df['Weather'] == 'Clear'])
times_Clear

1326

<img src="../images/icon/Technical-Stuff.png" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

### How can we get the count for Clear ?
***

In order to get only the number of times when the weather was exactly 'Clear' , we need to used Square brackets after `.value_counts` 
eg. `.value_counts()[3]`

In [7]:
# code your solution
df['Weather'].value_counts()['Clear']

1326

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini-Challenge - 3
***
**Try one more time..!!**
### Instructions
* Find the number of times when the wind speed was exactly 4 km/h

In [8]:
# Your solution here
len(df.loc[df['Wind Spd (km/h)'] == 4])

474

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini-Challenge - 4
***
### Instructions
* Get the first 3 alternating rows from the `weather_df` dataframe, but only the Visibility and Relative Humidity columns

In [9]:
# Using loc or iloc
# NOTE: slice is `:5:2`, not 6 !
# first indexing
df.iloc[0:6:2 , 3:6:2]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

In [10]:
df.loc[0:6:2, ['Rel Hum (%)','Visibility (km)']]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8
6           89              6.4

<img src="../images/icon/Concept-Alert.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Filtering
***

![Filter](../images/filters1.jpg)
Image Source:https://pixabay.com/en/yashica-filter-camera-vintage-711794/
<br/>

Anything that takes in data, processes it, and provides an output

Input Data ⟶ Filter ⟶ Output Data

Filtering rows of a DataFrame is an almost mandatory task for Data Analysis with Python. Given a Data Frame, we may not be interested in the entire dataset but only in specific rows.

### Instructions
* Access `Weather` column of dataframe and apply `.lower()` function and then apply `.contains()` by passing parameter as `rain` and save it as `rain_filter`
* This will provide you boolean values to get the data pass the `rain_filter` into dataframe `weather_df`
***
Whether or not it rain can be found out using the Weather column.

Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index.

In [11]:
# Basically, we want a way to "filter out" records that  have the word "rain" (case insensitive) in the last column
df['Weather'] = df['Weather'].str.lower()
rain_filter = df['Weather'].str.contains('rain')
df['Weather'][rain_filter]

18                               rain
19                               rain
22                       rain showers
24                       rain showers
153                 freezing rain,fog
154                     freezing rain
157                     freezing rain
221                         rain,snow
296                     freezing rain
297         freezing rain,snow grains
299                     freezing rain
404                     freezing rain
405                     freezing rain
406                     freezing rain
407                 freezing rain,fog
542                              rain
543                              rain
545                              rain
546                          rain,fog
547                          rain,fog
552                              rain
554                              rain
555                              rain
566                              rain
631                     freezing rain
632                     freezing rain
633                              rain
634                          rain,fog
671                         rain,snow
747                     freezing rain
                    ...
8273                         rain,fog
8363                     rain showers
8425                freezing rain,fog
8426                    freezing rain
8427    freezing rain,ice pellets,fog
8451                             rain
8452                             rain
8453                 rain,ice pellets
8464                        rain,snow
8465                        rain,snow
8466                        rain,snow
8467                             rain
8520                 rain,snow grains
8521            rain,snow,ice pellets
8522                        rain,snow
8523            rain,snow,ice pellets
8524            rain,snow,ice pellets
8525            rain,snow,ice pellets
8526                        rain,snow
8527                        rain,snow
8528                        rain,snow
8529                        rain,snow
8534                             rain
8535                             rain
8536                             rain
8537                             rain
8538                             rain
8539                             rain
8540                             rain
8541                             rain
Name: Weather, Length: 689, dtype: object

###  Instructions
* Find all instances when wind speed was above 35 and visibility was 25 and sve it as `df` and print it.

In [12]:
df.loc[(df['Wind Spd (km/h)'] > 35) & (df['Visibility (km)'] == 25)]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,cloudy
409,2012-01-18 01:00:00,3.7,-2.1,66,83,25.0,98.36,mostly cloudy
410,2012-01-18 02:00:00,0.5,-4.0,72,70,25.0,98.62,mostly cloudy
411,2012-01-18 03:00:00,-3.5,-8.2,70,57,25.0,99.00,mostly cloudy
412,2012-01-18 04:00:00,-6.1,-10.9,69,48,25.0,99.36,snow
557,2012-01-24 05:00:00,3.7,-0.2,76,41,25.0,100.37,cloudy
583,2012-01-25 07:00:00,-3.9,-10.0,63,37,25.0,101.79,mostly cloudy
670,2012-01-28 22:00:00,2.3,-2.0,73,37,25.0,99.85,mostly cloudy
672,2012-01-29 00:00:00,1.5,-5.0,62,57,25.0,99.96,mainly clear
673,2012-01-29 01:00:00,0.9,-5.3,63,52,25.0,100.09,mainly clear
674,2012-01-29 02:00:00,0.3,-5.8,64,52,25.0,100.21,mainly clear
675,2012-01-29 03:00:00,-0.2,-6.0,65,43,25.0,100.34,mainly clear
676,2012-01-29 04:00:00,-0.9,-7.0,63,43,25.0,100.47,mainly clear
677,2012-01-29 05:00:00,-1.5,-7.8,62,43,25.0,100.59,mainly clear
678,2012-01-29 06:00:00,-2.0,-8.1,63,44,25.0,100.68,mainly clear
1494,2012-03-03 06:00:00,1.5,-1.6,80,43,25.0,99.02,mainly clear
1506,2012-03-03 18:00:00,3.7,-4.3,56,48,25.0,98.82,mostly cloudy
1507,2012-03-03 19:00:00,3.4,-4.0,58,44,25.0,98.92,mainly clear
1508,2012-03-03 20:00:00,3.2,-3.9,60,50,25.0,98.96,mainly clear
1509,2012-03-03 21:00:00,2.9,-3.6,62,46,25.0,98.98,snow
1510,2012-03-03 22:00:00,2.8,-3.4,64,57,25.0,99.07,snow
1628,2012-03-08 20:00:00,5.0,1.6,79,41,25.0,99.90,rain
2571,2012-04-17 03:00:00,15.4,6.3,55,37,25.0,100.61,mainly clear
2572,2012-04-17 04:00:00,14.5,6.1,57,37,25.0,100.80,mainly clear
2714,2012-04-23 02:00:00,1.1,-1.1,85,44,25.0,100.32,"rain,snow"
2715,2012-04-23 03:00:00,1.7,-0.7,84,52,25.0,100.11,"rain,snow"
2716,2012-04-23 04:00:00,2.0,-0.7,82,44,25.0,99.82,rain
2732,2012-04-23 20:00:00,5.7,3.6,86,41,25.0,98.54,cloudy
2733,2012-04-23 21:00:00,5.6,3.5,86,37,25.0,98.51,rain
5827,2012-08-30 19:00:00,25.5,16.3,57,43,25.0,100.49,mostly cloudy
5828,2012-08-30 20:00:00,24.5,15.2,56,39,25.0,100.51,mostly cloudy
5829,2012-08-30 21:00:00,24.5,15.6,58,44,25.0,100.53,mainly clear
5830,2012-08-30 22:00:00,24.2,15.5,58,41,25.0,100.54,mainly clear
5831,2012-08-30 23:00:00,23.7,15.6,60,37,25.0,100.57,mainly clear
6043,2012-09-08 19:00:00,19.9,14.6,72,37,25.0,99.44,mostly cloudy
6044,2012-09-08 20:00:00,19.2,13.2,68,43,25.0,99.51,mainly clear
6045,2012-09-08 21:00:00,16.1,12.7,80,44,25.0,99.67,mostly cloudy
6288,2012-09-19 00:00:00,12.8,11.2,90,37,25.0,99.78,cloudy
6835,2012-10-11 19:00:00,8.4,2.2,65,37,25.0,101.13,rain
7266,2012-10-29 18:00:00,14.2,9.2,72,44,25.0,99.83,mostly cloudy
7267,2012-10-29 19:00:00,14.0,9.6,75,50,25.0,99.65,mostly cloudy
7268,2012-10-29 20:00:00,14.3,9.7,74,52,25.0,99.55,cloudy
7269,2012-10-29 21:00:00,14.0,9.7,75,48,25.0,99.46,mostly cloudy
7270,2012-10-29 22:00:00,14.2,9.8,75,50,25.0,99.37,cloudy
7271,2012-10-29 23:00:00,14.1,10.0,76,54,25.0,99.33,cloudy
7272,2012-10-30 00:00:00,14.6,10.2,75,41,25.0,99.28,cloudy
7273,2012-10-30 01:00:00,14.6,10.4,76,52,25.0,99.23,mostly cloudy
7274,2012-10-30 02:00:00,14.1,10.3,78,37,25.0,99.31,mostly cloudy
7275,2012-10-30 03:00:00,13.9,10.6,80,41,25.0,99.21,rain showers
7277,2012-10-30 05:00:00,13.7,10.5,81,37,25.0,99.32,mainly clear
7278,2012-10-30 06:00:00,13.6,10.5,82,37,25.0,99.31,rain showers
7608,2012-11-13 00:00:00,14.8,10.0,73,48,25.0,100.94,rain
7611,2012-11-13 03:00:00,7.9,5.6,85,41,25.0,101.45,rain
7868,2012-11-23 20:00:00,10.0,5.4,73,39,25.0,99.71,cloudy
7869,2012-11-23 21:00:00,9.3,4.1,70,39,25.0,99.72,cloudy
7876,2012-11-24 04:00:00,4.1,-2.2,63,37,25.0,99.56,mostly cloudy
8538,2012-12-21 18:00:00,1.4,0.3,92,46,25.0,97.56,rain
8659,2012-12-26 19:00:00,-9.6,-13.1,76,39,25.0,102.03,cloudy
8662,2012-12-26 22:00:00,-9.7,-12.8,78,37,25.0,101.70,cloudy

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Pivot Tables : Excellent way to Summarize your Data!
***
- A pivot table is a tool that allows you to reorganize and summarize selected columns and rows of data in a dataframe <br/><br/>

- Pivot tables provide an easy way to subset by one column and then apply a calculation like a sum or a mean <br/><br/>

- Pivot tables first groups and only then applies a calculation

### Instructions
* A dictionary containing data is already defined in the variable `data`.
* Create a dataframe using dictionary `data` and save it as `df`
* Print the `df`

In [13]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one'],
    'C': ['x','y','x','y','x','y'],
    'D': [1, 3, 2, 5, 4, 1]
}
data = pd.DataFrame(data, copy = True)
data

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

### Instructions
* Use .pivot_table() on the dataframe with index as `A`, values as `D` , columns as `B` and  aggfunc as `np.sum`. Save it as `pivot_df` and print it out

In [14]:
pivot_df = pd.pivot_table(data,index = 'A', values = 'D', columns = 'B')
pivot_df

B    one  two
A
bar  2.5  5.0
foo  2.0  2.0

### Instructions
* What is the mean Dew Point temperature recorded by month?
* Use .pivot_table() on the dataframe `weather_df` with index as `weather_df.index`, values as `Dew Point Temp (C)` , and  aggfunc as `np.mean`. Save it as `mean_dew_temperature_df` and print it out

In [15]:
df['months'] = df['Date/Time'].str.extract('(-..-)')
#ALternate Way is to use pd.DatetimeIndex

In [16]:
mean_dew_temperature_df = pd.pivot_table(df, index = 'months', values = 'Dew Point Temp (C)')
#mean_dew_temperature_df.set_index('months')
mean_dew_temperature_df

        Dew Point Temp (C)
months
-01-            -12.294758
-02-             -9.221695
-03-             -3.488575
-04-             -1.934583
-05-              8.080780
-06-             11.738056
-07-             14.595430
-08-             15.644758
-09-             10.757917
-10-              6.533468
-11-             -4.179306
-12-             -6.129032

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Group By
***
The groupby method allows you to group rows of data together and call aggregate functions that applies to the whole group.

Any groupby operation involves one of the following operations on the original object. They are −
- Splitting the Object
- Applying a function
- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- Aggregation − computing a summary statistic
- Transformation − perform some group-specific operation
- Filtration − discarding the data with some condition

### Instructions
* Use `.groupby()` on `Weather` column  and aggregate the mean values of each column for different types of weather using `.mean()`

In [17]:
df.groupby('Weather').mean()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
Weather,,,,,,
clear,6.825716,0.089367,64.497738,10.557315,30.153243,101.587443
cloudy,7.970544,2.375810,69.592593,16.127315,26.625752,100.911441
drizzle,7.353659,5.504878,88.243902,16.097561,17.931707,100.435366
"drizzle,fog",8.067500,7.033750,93.275000,11.862500,5.257500,100.786625
"drizzle,ice pellets,fog",0.400000,-0.700000,92.000000,20.000000,4.000000,100.790000
"drizzle,snow",1.050000,0.150000,93.500000,14.000000,10.500000,100.890000
"drizzle,snow,fog",0.693333,0.120000,95.866667,15.533333,5.513333,99.281333
fog,4.303333,3.159333,92.286667,7.946667,6.248000,101.184067
freezing drizzle,-5.657143,-8.000000,83.571429,16.571429,9.200000,100.202857
"freezing drizzle,fog",-2.533333,-4.183333,88.500000,17.000000,5.266667,100.441667
"freezing drizzle,haze",-5.433333,-8.000000,82.000000,10.333333,2.666667,100.316667
"freezing drizzle,snow",-5.109091,-7.072727,86.090909,16.272727,5.872727,100.520909
freezing fog,-7.575000,-9.250000,87.750000,4.750000,0.650000,102.320000
freezing rain,-3.885714,-6.078571,84.642857,19.214286,8.242857,99.647143
"freezing rain,fog",-2.225000,-3.750000,89.500000,15.500000,7.550000,99.945000
"freezing rain,haze",-4.900000,-7.450000,82.500000,7.500000,2.400000,100.375000
"freezing rain,ice pellets,fog",-2.600000,-3.700000,92.000000,28.000000,8.000000,100.950000
"freezing rain,snow grains",-5.000000,-7.300000,84.000000,32.000000,4.800000,98.560000
haze,-0.200000,-2.975000,81.625000,10.437500,7.831250,101.482500
mainly clear,12.558927,4.581671,60.667142,14.144824,34.264862,101.248832
"moderate rain,fog",1.700000,0.800000,94.000000,17.000000,6.400000,99.980000
moderate snow,-5.525000,-7.250000,87.750000,33.750000,0.750000,100.275000
"moderate snow,blowing snow",-5.450000,-6.500000,92.500000,40.000000,0.600000,100.570000
mostly cloudy,10.574287,3.131174,62.102465,15.813920,31.253842,101.025288
rain,9.786275,7.042810,83.624183,19.254902,18.856536,100.233333
rain showers,13.722340,9.187766,75.159574,17.132979,22.816489,100.404043
"rain showers,fog",12.800000,12.100000,96.000000,13.000000,6.400000,99.830000
"rain showers,snow showers",2.150000,-1.500000,76.500000,22.500000,21.700000,101.100000
"rain,fog",8.273276,7.219828,93.189655,14.793103,6.873276,100.500862
"rain,haze",4.633333,2.066667,83.333333,11.666667,6.700000,100.540000
"rain,ice pellets",0.600000,-0.600000,92.000000,24.000000,9.700000,100.120000
"rain,snow",1.055556,-0.566667,89.000000,28.388889,11.672222,99.951111
"rain,snow grains",1.900000,-2.100000,75.000000,26.000000,25.000000,100.600000
"rain,snow,fog",0.800000,0.300000,96.000000,9.000000,6.400000,100.730000
"rain,snow,ice pellets",1.100000,-0.175000,91.500000,23.250000,6.000000,100.105000
snow,-4.524103,-7.623333,79.307692,20.038462,11.171795,100.536103
snow pellets,0.700000,-6.400000,59.000000,35.000000,2.400000,99.700000
snow showers,-3.506667,-7.866667,72.350000,19.233333,20.158333,100.963500
"snow showers,fog",-10.675000,-11.900000,90.750000,13.750000,7.025000,101.292500
"snow,blowing snow",-5.410526,-7.621053,84.473684,34.842105,4.105263,99.704737
"snow,fog",-5.075676,-6.364865,90.675676,17.324324,4.537838,100.688649
"snow,haze",-4.020000,-6.860000,80.600000,5.000000,4.640000,100.782000
"snow,ice pellets",-1.883333,-3.666667,87.666667,23.833333,7.416667,100.548333
thunderstorms,24.150000,19.750000,77.000000,7.500000,24.550000,100.230000
"thunderstorms,heavy rain showers",10.900000,9.000000,88.000000,9.000000,2.400000,100.260000
"thunderstorms,moderate rain showers,fog",19.600000,18.500000,93.000000,15.000000,3.200000,100.010000
"thunderstorms,rain",20.433333,18.533333,89.000000,15.666667,19.833333,100.420000
"thunderstorms,rain showers",20.037500,17.618750,86.375000,18.312500,15.893750,100.233750
"thunderstorms,rain showers,fog",21.600000,18.700000,84.000000,19.666667,9.700000,100.063333
"thunderstorms,rain,fog",20.600000,18.600000,88.000000,19.000000,4.800000,100.080000

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Concat, Merge and Join 
<br/>

***
There are 3 key ways of combining DataFrames together:

- **Concatenation**: Concatenation glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on <br/><br/>
- **Merging**: The merge function allows you to merge DataFrames together using a similar logic as merging SQL Tables together<br/><br/>
- **Join**: Join is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame

## Concat

Many a time, we are required to combine different arrays. So, instead of typing each of their elements manually, you can use array concatenation to handle such tasks easily.

In [18]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])

### Instructions
* Three dataframes already defined for you
* Concat 3 dataframes i.e `df1`,`df2`,`df3` along rows

In [19]:
# if you don't specify an axis, it defaults to axis=0, which means it appends to rows
pd.concat([df1,df2,df3], axis = 0, keys = ['First', 'Second', 'Third'])

C:\Users\nashi\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

             A    B    C    D    E
First  0    A0   B0   C0   D0  NaN
       1    A1   B1   C1   D1  NaN
       2    A2   B2   C2   D2  NaN
       3    A3   B3   C3   D3  NaN
Second 4    A4   B4   C4   D4  NaN
       5    A5   B5   C5   D5  NaN
       6    A6   B6   C6   D6  NaN
       7    A7   B7   C7   D7  NaN
Third  8    A8   B8   C8  NaN   D8
       9    A9   B9   C9  NaN   D9
       10  A10  B10  C10  NaN  D10
       11  A11  B11  C11  NaN  D11

### Instructions
* Concat 3 dataframes i.e `df1`,`df2`,`df3` along columns

In [20]:
# axis=1 means concat along columns
pd.concat([df1,df2,df3], axis = 1, keys = ['First', 'Second', 'Third'])

   First                Second                Third
       A    B    C    D      A    B    C    D     A    B    C    E
0     A0   B0   C0   D0    NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN
1     A1   B1   C1   D1    NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN
2     A2   B2   C2   D2    NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN
3     A3   B3   C3   D3    NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN     A4   B4   C4   D4   NaN  NaN  NaN  NaN
5    NaN  NaN  NaN  NaN     A5   B5   C5   D5   NaN  NaN  NaN  NaN
6    NaN  NaN  NaN  NaN     A6   B6   C6   D6   NaN  NaN  NaN  NaN
7    NaN  NaN  NaN  NaN     A7   B7   C7   D7   NaN  NaN  NaN  NaN
8    NaN  NaN  NaN  NaN    NaN  NaN  NaN  NaN    A8   B8   C8   D8
9    NaN  NaN  NaN  NaN    NaN  NaN  NaN  NaN    A9   B9   C9   D9
10   NaN  NaN  NaN  NaN    NaN  NaN  NaN  NaN   A10  B10  C10  D10
11   NaN  NaN  NaN  NaN    NaN  NaN  NaN  NaN   A11  B11  C11  D11

## Join
***
Simply join two DFs having potentially different row indices

You can do both inner as well as outer joins using the join function in pandas
- Parameters {‘inner’, ‘outer’}, default ‘outer’. Outer for union and inner for intersection.

### Instructions
* Two dataframes i.e `left_df` and `right_df` already defined for you.
* Join two dataframes using `.join()` 
* Since it is an outer join pass `how='outer'`

In [21]:
# Join
left_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2']) 

right_df = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

In [24]:
left_df.join(right_df, on =left_df.index, how = 'inner')

   key_0   A   B   C   D
K0    K0  A0  B0  C0  D0
K2    K2  A2  B2  C2  D2

## Merge

Many a times you will be working with multiple dataframes all at once.

The merge function allows them to be combined into a single data frame

### Instructions
* Two dataframes i.e `left` and `right` is already defined for you.
* From the left dataframe i.e. `left` and from the right dataframe i.e `right` you will be taking two columns for merging `key1` and `key2`; so pass them as on=['key1','key2'] inside the .merge() method
* Since it is an outer join pass `how='outer'` also

In [32]:
# Merging on multiple keys
left = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})
    
right = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})
left.merge(right, on = ['key1', 'key2'], how = 'inner')
left.merge(right, on=['key1','key2'], how = 'outer')

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3